{{range .Types}}{{$addType := .Schema.AdditionalPropertiesType.TypeDecl}}

// Getter for additional properties for {{.TypeName}}. Returns the specified
// element and whether it was found
func (a {{.TypeName}}) Get(fieldName string) (value {{$addType}}, found bool) {
    if a.AdditionalProperties != nil {
        value, found = a.AdditionalProperties[fieldName]
    }
    return
}

// Setter for additional properties for {{.TypeName}}
func (a *{{.TypeName}}) Set(fieldName string, value {{$addType}}) {
    if a.AdditionalProperties == nil {
        a.AdditionalProperties = make(map[string]{{$addType}})
    }
    a.AdditionalProperties[fieldName] = value
}

{{if eq 0 (len .Schema.UnionElements) -}}
// Override default JSON handling for {{.TypeName}} to handle AdditionalProperties
func (a *{{.TypeName}}) UnmarshalJSON(b []byte) error {
    object := make(map[string]json.RawMessage)
	err := json.Unmarshal(b, &object)
	if err != nil {
		return err
	}
{{range .Schema.Properties}}
    if raw, found := object["{{.JsonFieldName}}"]; found {
        err = json.Unmarshal(raw, &a.{{.GoFieldName}})
        if err != nil {
            return fmt.Errorf("error reading '{{.JsonFieldName}}': %w", err)
        }
        delete(object, "{{.JsonFieldName}}")
    }
{{end}}
    if len(object) != 0 {
        a.AdditionalProperties = make(map[string]{{$addType}})
        for fieldName, fieldBuf := range object {
            var fieldVal {{$addType}}
            err := json.Unmarshal(fieldBuf, &fieldVal)
            if err != nil {
                return fmt.Errorf("error unmarshaling field %s: %w", fieldName, err)
            }
            a.AdditionalProperties[fieldName] = fieldVal
        }
    }
	return nil
}

// Override default JSON handling for {{.TypeName}} to handle AdditionalProperties
func (a {{.TypeName}}) MarshalJSON() ([]byte, error) {
    var err error
    object := make(map[string]json.RawMessage)
{{range .Schema.Properties}}
{{if .HasOptionalPointer}}if a.{{.GoFieldName}} != nil { {{end}}
    object["{{.JsonFieldName}}"], err = json.Marshal(a.{{.GoFieldName}})
    if err != nil {
        return nil, fmt.Errorf("error marshaling '{{.JsonFieldName}}': %w", err)
    }
{{if .HasOptionalPointer}} }{{end}}
{{end}}
    for fieldName, field := range a.AdditionalProperties {
		object[fieldName], err = json.Marshal(field)
		if err != nil {
			return nil, fmt.Errorf("error marshaling '%s': %w", fieldName, err)
		}
	}
	return json.Marshal(object)
}

// Override default XML handling for {{.TypeName}} to handle AdditionalProperties
func (a *{{.TypeName}}) UnmarshalXML(d *xml.Decoder, start xml.StartElement) error {
    {{$typeName := .TypeName -}}
    knownFields := map[string]bool{
        {{range .Schema.Properties -}}
        "{{xmlFieldName .}}": true,
        {{end -}}
    }

    for {
        tok, err := d.Token()
        if err != nil {
            return err
        }
        switch t := tok.(type) {
        case xml.StartElement:
            switch t.Name.Local {
            {{range .Schema.Properties -}}
            case "{{xmlFieldName .}}":
                if err := d.DecodeElement(&a.{{.GoFieldName}}, &t); err != nil {
                    return fmt.Errorf("error reading '{{xmlFieldName .}}': %w", err)
                }
            {{end -}}
            default:
                if !knownFields[t.Name.Local] {
                    if a.AdditionalProperties == nil {
                        a.AdditionalProperties = make(map[string]{{$addType}})
                    }
                    var val {{$addType}}
                    if err := d.DecodeElement(&val, &t); err != nil {
                        return fmt.Errorf("error unmarshaling field %s: %w", t.Name.Local, err)
                    }
                    a.AdditionalProperties[t.Name.Local] = val
                } else {
                    if err := d.Skip(); err != nil {
                        return err
                    }
                }
            }
        case xml.EndElement:
            return nil
        }
    }
}

// Override default XML handling for {{.TypeName}} to handle AdditionalProperties
func (a {{.TypeName}}) MarshalXML(e *xml.Encoder, start xml.StartElement) error {
    if err := e.EncodeToken(start); err != nil {
        return err
    }
{{range .Schema.Properties}}
{{if .HasOptionalPointer}}if a.{{.GoFieldName}} != nil { {{end}}
    if err := e.EncodeElement(a.{{.GoFieldName}}, xml.StartElement{Name: xml.Name{Local: "{{xmlFieldName .}}"}}); err != nil {
        return fmt.Errorf("error marshaling '{{xmlFieldName .}}': %w", err)
    }
{{if .HasOptionalPointer}} }{{end}}
{{end}}
    for fieldName, field := range a.AdditionalProperties {
        if err := e.EncodeElement(field, xml.StartElement{Name: xml.Name{Local: fieldName}}); err != nil {
            return fmt.Errorf("error marshaling '%s': %w", fieldName, err)
        }
    }
    return e.EncodeToken(start.End())
}
{{end}}
{{end}}
